.DS_Store
232.03.Lab.115/LabStack.xcodeproj/project.xcworkspace/xcuserdata/monkies989.xcuserdatad/UserInterfaceState.xcuserstate
232.03.Lab.115/LabStack.xcodeproj/xcuserdata/monkies989.xcuserdatad/xcschemes/xcschememanagement.plist
