.DS_Store
232.03.Lab.115/LabStack.xcodeproj/project.xcworkspace/xcuserdata/monkies989.xcuserdatad/UserInterfaceState.xcuserstate
232.03.Lab.115/LabStack.xcodeproj/xcuserdata/monkies989.xcuserdatad/xcschemes/xcschememanagement.plist
232.05.Lab.115/LabList.xcodeproj/project.xcworkspace/xcuserdata/monkies989.xcuserdatad/UserInterfaceState.xcuserstate

########################
# Xcode
########################
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
xcuserdata/
.swiftpm/
Pods/
Carthage/Build/
.DS_Store

########################
# Visual Studio
########################
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
ARM/
ARM64/
.vs/
*.user
*.suo
*.pdb
*.ilk
*.idb
*.iobj
*.ipdb
*.tlog
.vscode/

########################
# General
########################
*.log
*.tmp
*.cache
